<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="cards">
                <h2>
                    Account Overview
                </h2>
                <div>
                    <label>Account Number : </label>
                    <label id="acc_no">189309183031273</label>
                </div>
                <div>
                    <label>Account Balance : </label>
                    <label id="acc_bal">10000</label>
                </div>
                <div>
                    <a href="#">View Transactions...</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="cards">
                <h2>
                    Deposits
                </h2>
                <div>
                    <label>Fixed Deposit : </label>
                    <label id="fd_bal">10000</label>
                    <a href="#">Add to fd...</a>
                </div>
                <div>
                    <label>Recurring Deposit: </label>
                    <label id="rd_bal">10000</label>
                </div>
                <div>
                    <a href="#">View Transactions...</a>
                </div>
            </div>
        </div>
    </div>
</div>