<form class="p-4" [formGroup]="registrationform" (ngSubmit)="onSubmit()">
  <h3 class="text-center">Registration Form</h3>
  <div class="row p-2">
    <div class="col-md-4">
      <label for="firstname" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstname" placeholder="firstname" formControlName="firstname"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.firstname, 'is-valid': formSuccess.firstname}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.firstname">
        {{formErrors.firstname}}
      </div>
    </div>
    <div class="col-md-4">
      <label for="lastname" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.lastname, 'is-valid': formSuccess.lastname}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.lastname">
        {{formErrors.lastname}}
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" for="gender">Gender</label>
      <div class="input-group has-validation">
        <select class="form-select" required="required" id="gender" formControlName="gender" 
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.gender, 'is-valid': formSuccess.gender}" 
        required>
          <option value="1">Female</option>
          <option value="2">Male</option>
          <option value="3">Others</option>
        </select>
        <div class="invalid-feedback" *ngIf="formErrors.gender">
          {{formErrors.gender}}
        </div>
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-4">
      <label class="form-label" for="pan">PAN Number</label>
      <input type="text" class="form-control" id="pan" placeholder="ABCDE1234Z" formControlName="pan"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.pan, 'is-valid': formSuccess.pan}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.pan">
        {{formErrors.pan}}
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" for="aadhar">Aadhar Number</label>
      <input type="text" class="form-control" id="aadhar" placeholder="123412341234" formControlName="aadhar"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.aadhar, 'is-valid': formSuccess.aadhar}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.aadhar">
        {{formErrors.aadhar}}
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label" for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" placeholder="1231231230" formControlName="phone"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.phone, 'is-valid': formSuccess.phone}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.phone">
        {{formErrors.phone}}
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-6">
      <label class="form-label" for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="abcd@abc.com" formControlName="email"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.email, 'is-valid': formSuccess.email}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.email">
        {{formErrors.email}}
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="eg.-Abcc@134*" formControlName="password"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.password, 'is-valid': formSuccess.password}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.password">
        {{formErrors.password}}
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-12">
      <label class="form-label" for="address1">Address Line 1</label>
      <input type="text" class="form-control" id="address1" placeholder="address line 1" formControlName="address1"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.address1, 'is-valid': formSuccess.address1}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.address1">
        {{formErrors.address1}}
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-12">
      <label class="form-label" for="address2">Address Line 2</label>
      <input type="text" class="form-control" id="address2" placeholder="address line 2" formControlName="address2"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.address2, 'is-valid': formSuccess.address2}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.address2">
        {{formErrors.address2}}
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-6">
      <label class="form-label" for="pincode">Pincode</label>
      <input type="text" class="form-control" id="pincode" placeholder="123456" formControlName="pincode"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.pincode, 'is-valid': formSuccess.pincode}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.pincode">
        {{formErrors.pincode}}
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="city" formControlName="city"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.city, 'is-valid': formSuccess.city}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.city">
        {{formErrors.city}}
      </div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-md-6">
      <label class="form-label" for="state">State</label>
      <input type="text" class="form-control" id="state" placeholder="state" formControlName="state"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.state, 'is-valid': formSuccess.state}" 
        required>
      <div class="invalid-feedback" *ngIf="formErrors.state">
        {{formErrors.state}}
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label" for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="india" formControlName="country"
        (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.country, 'is-valid': formSuccess.country}"
        required>
      <div class="invalid-feedback" *ngIf="formErrors.country">
        {{formErrors.country}}
      </div>
    </div>
  </div>
  <div class="row p-2">
    <input class="form-check-input is-invalid" type="checkbox" value="" id="agreement" 
    (blur)="commonBlur()" [ngClass]="{'is-invalid' : formErrors.agreement, 'is-valid': formSuccess.agreement}"
    required>
      <label class="form-check-label" for="agreement">
      I do accept the <a href="termsandconditions"><u>Terms and Conditions</u></a>
      of the bank.
    </label>
    <div class="invalid-feedback" *ngIf="formErrors.agreement">
      {{formErrors.agreement}}
    </div>
  </div>

  <div class="row p-5">
    <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Register</button>
  </div>

</form>